.app{
    background-color: #f3f2ef;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; 
}

.app_body{
    display: flex;
    margin-top: 35px;
    max-width: 1600px;
    margin-left: 100px;
    margin-right: 100px;
}